<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Blog: Index</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#btn2").click(function (e) {
				e.preventDefault();
				$("ol").empty();
				$("ol").append('<li>'+'loading...'+'</li>');
				var limit = $("[name=limit]")[0].value
				var from = $("[name=fromdate]")[0].value
				var to = $("[name=todate]")[0].value
				$.get("/expenses/?limit="+limit+"&from="+from+"&to="+to, function (data) {
					console.log(data.test[0]);
					$("ol").empty();
					var i;
					for (i = 0; i < data.test.length; i++) {
						var date = new Date(data.test[i].date*1000).toLocaleDateString("en-US")
						$("ol").append('<li>'+date+' '+data.test[i].to+' '+ data.test[i].tags + ' '+ ' ' + data.test[i].amount+'</li>');
					}
				});
			});
		});

	</script>

</head>
<body>
<form>
	From date:<br>
	<input type="text" name="fromdate" value="9/23/2018">
	<br>
	To date:<br>
	<input type="text" name="todate" value="3/12/2019">
	<br>
	Limit:<br>
	<input type="text" name="limit" value="5">
	<br><br>
	<button id="btn2">check</button>
</form>
	<ol>

	</ol>
</body>
</html>